<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{error.5xx}">5xx</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"
	href="../static/css/index.css" />
</head>

<header>
	<h1 th:text="#{app.title}">Myke's Craft</h1>
</header>

<section class="teaser">
	<div>
		<h1 th:text="#{error.5xx}">5xx</h1>

	</div>
	<div>
		<h1 th:text="#{error.error}">ERROR</h1>

	</div>
	<div>
		<h1 th:text="#{error.message.505}">Server error</h1>
	</div>
</section>
<footer>
	<div th:text="#{footer.emailaddress}">mykescraft@gmail.com</div>
	<div class="phone">
		<i class="fa fa-phone" aria-hiddem="true"></i> <a
			href="tel:+363012365645" th:text="#{footer.phone}">+3630-555-1212</a>
	</div>
</footer>

</html>