@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC');

@import
	url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700')
	;

@import
	url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

* {
	box-sizing: border-box;
}

header h1 {
	color: rgb(192, 192, 192);
	text-shadow: #EEEE00 0 0 10px, #FF0000 5px 5px 5px;
	font-family: 'Holtwood One SC', serif;
	font-size: 3.55em;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 0.1em;
	word-spacing: 1em;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
}

header {
	background-color: black;
	height: 10em;
	width: 100%;
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-position: center top;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 2px 2px 2px rgb(192, 192, 192);
	border-bottom: 2px rgb(192, 192, 192);
}

body {
	background-color: rgb(250, 250, 250);
	color: rgb(51, 51, 51);
	text-decoration: none;
}

body {
	max-width: 80em;
	margin: 0;
}

@media only screen and (min-width: 730px) {
	body {
		width: 95%;
		margin: 50px auto;
	}
}

nav {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	margin: 5px 0px;
	padding-bottom: 3px;
	min-width: 20em;
}

nav a {
	margin-right: 5%;
	color: darkgray;
	text-decoration: none;
}

nav a:last-child {
	margin-right: 0px;
}

nav a:hover {
	color: gray;
}

header {
	position: relative;
}

header h1 {
	margin: 0px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teaser {
	font-family: 'Oswald', sans-serif;
	margin: 2em auto;
	max-width: 50em;
}

.teaser div {
	text-align: center;
	width: 33%;
	margin: 0 auto;
	padding: 1em;
	min-width: 10em;
}

@media only screen and (min-width: 730px) {
	.teaser div {
		width: 33%;
		float: left;
		margin: inherit;
	}
}

.teaser h1 {
	font-size: 1.5em;
	font-weight: 700;
	border-bottom: 4px rgb(192, 192, 192);
	padding-bottom: 2px;
}

.teaser p {
	font-weight: 200;
}

footer {
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	background-color: rgb(242, 242, 242);
	text-align: center;
	margin-top: 3em;
	padding: 1em;
	clear: left;
}

footer .phone a {
	text-decoration: none;
	letter-spacing: 0.2em;
	margin-left: 0.2em;
}

