<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<title th:text="#{app.title}">"Myke's Craft</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"
	href="../static/css/index.css" />
</head>
<header>
	<h1 th:text="#{app.title}">Myke's Craft</h1>
</header>

<nav>
	<a href="hilt" th:text="#{index.lightsabers}">Lightsabers</a> <a
		href="videos" th:text="#{index.videos}">Videos</a> <a href="contact"
		th:text="#{index.contact}">Contact</a>
</nav>
<div class="teaser" style="text-align: center">
	<h1 th:text="#{cart.confirmation.info}">A kosár</h1>
</div>

<table border="0" cellspacing="0" cellpadding="0" width="100%"
	height="100%">
	<tr>
		<td width="100%" height="100%" valign="middle" align="center">
			<table border="1" style="width: 300px">
				<thead>
					<tr>
						<th>Név</th>
						<th>Ár (€)</th>
					</tr>
				</thead>
				<th:block th:each="accessory : ${accessories}">
					<tr>
						<td th:text="${accessory.name}">Név</td>
						<td th:text="${accessory.price}">Ár</td>
					</tr>
				</th:block>
			</table>
		</td>
	</tr>
</table>
<div class="teaser" style="text-align: center">
	<h1>Végösszeg (€):</h1> <h1 th:text="${amount}"></h1>
	<a href="customer-form" th:text="#{cart.confirmation}">Confirm</a>
	<a href="hilt" th:text="#{cart.empty}">Üres</a>
</div>
<footer>
	<p th:text="#{footer.emailaddress}">mykescraft@gmail.com</p>
	<div class="phone">
		<i class="fa fa-phone" aria-hiddem="true"></i> <a
			href="tel:+363012365645" th:text="#{footer.phone}">+3630-555-1212</a>
	</div>
</footer>

</html>