<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="text/html, width=device-width, initial-scale=1.0"
	charset="UTF-8"></meta>
<title th:text="#{app.title}">"Myke's Craft</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"
	href="../static/css/index.css" />
</head>
<header>
	<h1 th:text="#{app.title}">Myke's Craft</h1>
</header>

<nav>
	<a href="hilt" th:text="#{index.lightsabers}">Lightsabers</a>
	<a href="videos" th:text="#{index.videos}">Videos</a> <a
		href="contact" th:text="#{index.contact}">Contact</a>
</nav>
<form name="customerdata" th:action="@{/customerdata}" th:object="${customerform}" method="post">
			<h2 class="teaser" style="text-align: center">Kérlek add meg az adataid</h2>
				
				<div class="fieldErrorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Form error</div>
				<input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="Teljes név"  /> 
		 	       
			    <br></br>
		 	    <div class="fieldErrorMessage" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Form error</div>
		 	    <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="E-mail cím"  /> 
				    
			    <br></br>
			    <div class="fieldErrorMessage" th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}">Form error</div>
			    <input type="text" id="customerAddress" name="customerAddress" th:field="*{customerAddress}"  class="form-control" placeholder="Cím" />
			    
			    <br></br>
			    <div class="fieldErrorMessage" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Form error</div>
			    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"  class="form-control" placeholder="Telszám" />
			    
			    <br></br>
			<div class="formErrorMessage" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Form error</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Rendelés</button>
		</form>

<footer>
	<p th:text="#{footer.emailaddress}">mykescraft@gmail.com</p>
	<div class="phone">
		<i class="fa fa-phone" aria-hiddem="true"></i> <a
			href="tel:+363012365645" th:text="#{footer.phone}">+3630-555-1212</a>
	</div>
</footer>

</html>