<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />
<title th:text="#{app.title}">"Myke's Craft</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"
	href="../static/css/index.css" />
</head>
<header>
	<h1 th:text="#{app.title}">Myke's Craft</h1>
</header>

<nav>
	<a href="hilt" th:text="#{index.lightsabers}">Lightsabers</a> <a
		href="videos" th:text="#{index.videos}">Videos</a> <a href="contact"
		th:text="#{index.contact}">Contact</a>
</nav>
<div class="teaser" style="text-align: center">
	<h1 th:text="#{hilt.info}">Choose a hilt</h1>
	<h3 th:text="#{info}">Choose one</h3>
</div>


<section class="teaser" th:each="hilt : ${hilts}">
	<div>
		<h1 th:text="${hilt.name}">Name</h1>
		<img th:src="${hilt.imageUrl}" height="150" width="200">
		<p th:text="${hilt.price}  + ' EUR'">Price</p>

		<a th:text="#{add.to.cart}" th:href="@{|/chooseahilt?id=${hilt.id}|}">Buy
			Now</a>
	</div>

</section>

<button onclick="location.href='/led'" type="button" th:text=#{next.tothe.leds} >
    /led</button>

<footer>
	<p th:text="#{footer.emailaddress}">mykescraft@gmail.com</p>
	<div class="phone">
		<i class="fa fa-phone" aria-hiddem="true"></i> <a
			href="tel:+363012365645" th:text="#{footer.phone}">+3630-555-1212</a>
	</div>
</footer>

</html>