<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8"/>
<title th:text="#{app.title}">"Myke's Craft</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"
	href="../static/css/index.css" />
</head>
<header>
	<h1 th:text="#{app.title}">Myke's Craft</h1>
</header>

<nav>
	<a href="hilt" th:text="#{index.lightsabers}">Lightsabers</a>
	<a href="videos" th:text="#{index.videos}">Videos</a> <a
		href="contact" th:text="#{index.contact}">Contact</a>
</nav>

<section class="teaser">
	<div>
		<h1>
			<a href="hilt" th:text="#{index.lightsabers}">Lightsabers</a>
		</h1>
		<p th:text="#{index.lightsabers.info}">Customize your own
			ligthsaber! You can choose a hilt, leds, soundcard, buttons and a
			blade, order, pay and own your unique lightsaber.</p>
	</div>

	<div>
		<h1>
			<a href="videos" th:text="#{index.videos}">Videos</a>
		</h1>
		<p th:text="#{index.videos.info}">Watch my videos about lightsaber
			building.</p>
	</div>
	<div>
		<h1>
			<a href="contact" th:text="#{index.contact}">Contact</a>
		</h1>
		<p th:text="#{index.contact.info}">Feel free to contuct us, if you
			have any question.</p>
	</div>
</section>

<footer>
	<p th:text="#{footer.emailaddress}">mykescraft@gmail.com</p>
	<div class="phone">
		<i class="fa fa-phone" aria-hiddem="true"></i> <a
			href="tel:+363012365645" th:text="#{footer.phone}">+3630-555-1212</a>
	</div>
</footer>

</html>